
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

h2 {
    margin: 10px 0;
}

.container-wrapper {
    width: 100%;
    max-width: 1200px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.footer {
    margin: 10px;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.footer p {
    margin: 0;
    font-size: 14px;
}

table {
    width: 100%;
}

table tr td {
    vertical-align: top;
    padding: 10px;
}

.graph-container {
    min-width: 600px;
    height: 410px;
    border: 1px solid #ccc;
    position: relative;
    margin-bottom: 20px;
}

.result {
    min-width: 385px;
    height: 400px;
    padding: 10px 10px 0px 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #f9f9f9;
}

.graph-container.result #distance-section {
    overflow-y: auto;
    max-height: 400px;
    padding-right: 5px;
}

#startNode {
    padding: 8px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    padding: 8px 16px;
    margin: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    background-color: #007bff;
    color: #fff;
    font-size: 14px;
}

button:hover {
    background-color: #0056b3;
}

.node {
    cursor: pointer;
}

.edge {
    fill: none;
    stroke: #999;
    stroke-width: 2px;
}

.edge-text {
    font-size: 14px;
}

pre {
    margin: 0;
    white-space: pre-wrap;
    font-size: 14px;
    line-height: 1.4;
}